# Dependencies
node_modules
npm-debug.log*

# Next.js
.next
out

# Environment variables
.env*.local

# Git
.git
.gitignore

# Documentation
README.md
docs

# Development files
.vscode
.idea

# Test files
__tests__
*.test.js

# macOS
.DS_Store

# Artifacts
.gemini
