@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  color: #171717;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* 다크모드 */
html.dark body {
  background-color: #0f172a;
  color: #f5f5f5;
}

@media (min-width: 768px) {
  body {
    width: 100%;
    margin: 0;
  }
}
